* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*variables*/
    --font-main: "Montserrat", sans-serif;
    --backg-page: #e5f1ff;
    --backg-card: #6b697269;
    --acc: rgb(147, 212, 234);
    --acc-s: #dbeafe;
    --text: #0f172a;
    --border: #d5e7eb;
    /*interests section variables*/

}

body {
    font-family: var(--font-main);
    background: linear-gradient(rgb(129, 166, 225));
}

header,
nav,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
}

header {
    padding-top: 40px;
    padding-bottom: 16px;
}

header h1 {
    font-size: 40px;
    letter-spacing: 1px;
    color: var(--text)
}

nav a {
    display: flex;
    justify-content: center;
    gap: 24px;
    font-size: 14px;
    color: var(--acc-s);
    padding: 6px 14px;
    border-radius: 999px;
    transition: ease;
    margin-top: 8px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--acc);
}

nav:hover {
    background-color: var(--acc-s);
    color: #ffffff;
    transform: translateY(-2px);
}

main {
    padding-top: 32px;
    padding-bottom: 40px;
}

main h2 {
    font-size: 24px;
    margin-bottom: 12px;
    color: var(--acc);
    letter-spacing: 1px;
}

main p {
    font-size: 16px;
    line-height: 24px;
    color: var(--acc-s);
}

main section {
    background-color: var(--backg-card);
    border-radius: 16px;
    padding: 24px 24px 8px;
    margin-bottom: 24px;
    box-shadow: 0px 10px 26px rgba(15, 23, 42, .18);
    border: 1px solid black
}

.skill-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 8px;
}

.skill-card {
    background-color: #111827;
    color: white;
    padding: 18px;
    border-radius: 12px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .5px;
    box-shadow: 10px 4px 12px rgba(15, 23, 42, .45);
    border: 2px solid rgb(21, 110, 151);
    transition: all ease;
}

.skill-card:hover {
    transform: translateY(-4px);
    box-shadow: 0px 10px 20px rgba(15, 23, 42, .06);
    border-color: var(--acc);
}

.projects-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.project-card {
    height: 400px;
    width: 100%;
    background-color: white;
    margin-top: 12px;
    padding: 18px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0px 4px 12px rgba(15, 23, 42, .18);
    transition: all ease;
}

.project-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    transition: all ease;
    border-radius: 10px;

}

.project-card img:hover {
    transform: scale(1.2);
}

.project-card h3 {
    margin-top: 20px;
    font-size: 20px;
    color: var(--text);
}

.buttons {
    margin-top: 16px;
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    background-color: var(--acc);
    color: white;
    text-decoration: none;
    border-radius: 999px;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 600;
    box-shadow: 0 4px 6px rgba(21, 110, 151, 0.5);
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
    background-color: var(--acc-s);
    transform: translateY(-2px);
}

@media (max-width: 600px) {
    .projects-row {
        grid-template-columns: repeat(1, 1fr);
    }

    header h1 {
        font-size: 32px;
    }

    header h2 {
        font-size: 20px;
    }

    header,
    main,
    nav,
    footer {
        padding-left: 12px;
        padding-right: 12px;
        text-align: center;
    }

    nav {
        flex-direction: column;
        gap: 12px;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .projects-row {
        grid-template-columns: 1fr;
        gap: 18px;
    }

    .skill-list {
        gap: 18px;
    }

    .button {
        width: 100%;
        max-width: 280px;
        text-align: center;
    }

    .project-card img {
        height: 200px;
    }

}