{
        box-sizing: border-box;

        body {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            margin: 5px;
            padding: 20px;
            background-color: #f382adc4;
        }

        .card {
            background-color: rgb(241, 85, 160);
            border: 1px solid #2b2427;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 30px;
            margin: 0 auto;
            max-width: 600px;
        }

        .card h1 {
            font-size: 10em;
            margin-bottom: 20px;
            color: #0b0b0bee;
        }

        .card p {
            font-size: 5em;
            margin: 10px 0;
            color: #0b0b0bee;
        }
    }