* {
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 5px;
    padding: 10px;
    background-color: #f382adc4;
}

.card {
    background-color: rgb(241, 85, 160);
    border: 1px solid #f7f5f6;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(24, 20, 20, 0.408);
    padding: 10px;
    margin: 0 auto;
    max-width: 1000px;
}

.card h1 {
    font-size: 10em;
    margin-bottom: 20px;
    color: #0b0b0bee;
}

.card p {
    font-size: 1.5em;
    margin: 10px 0;
    color: #0b0b0bee;
}