* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-main: "Times New Roman", serif;
    --height-main: 50px;
    --width-main: 120px;
    --padding-main: 16px 32px;
    --border-main: 2px;
}

body {
    font-family: var(--font-main);
    line-height: 2;
    background-color: #fafafa;
    color: #1F2937;
    padding: 32px 16px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

h1 {
    font-size: 48px;
    line-height: 1em;
    font-weight: normal;
    text-align: center;
    margin-bottom: 16px;

}

.subtitle {
    text-align: center;
    font-size: 16px;
    color: #6B7280;
    margin-bottom: 32px;
}

h2 {
    font-size: 24px;
    font-weight: normal;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    padding-bottom: 8px;
    margin-bottom: 16px;
}

.button-section {
    padding: 32px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.button-section p {
    font-size: 16px;
    margin-bottom: 24px;
}

button {
    font-family: var(--font-main);
    font-size: 16px;
    cursor: pointer;
    border-radius: 0;
}

.button-01 {
    background-color: #0066CC;
    color: #ffffff;
    padding: var(--padding-main);
    border: var(--border-main) solid #0066CC;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    height: var(--height-main);
    width: var(--width-main);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.button-01:hover {
    background-color: #ffffff;
    color: #0066CC;
    border-color: #0066CC;
}

.button-02 {
    background-color: #0e6027;
    color: #ffffff;
    padding: var(--padding-main);
    border: var(--border-main) solid #0e6027;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: var(--height-main);
    width: var(--width-main);
}

.button-02:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.button-03 {
    background-color: rgb(226, 19, 19);
    color: white;
    padding: var(--padding-main);
    border: var(--border-main) solid #2060b9;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.7s ease;
    height: var(--height-main);
    width: var(--width-main);
}

.button-03:hover {
    transform: rotate(180deg);
    background-color: white;
    border: none;
}

.button-04 {
    background-color: #ff6600;
    color: #ffffff;
    padding: var(--padding-main);
    border: var(--border-main) solid #ff6600;
    position: relative;
    overflow: hidden;
    height: var(--height-main);
    width: var(--width-main);
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

.button-04::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.5s ease;
    transform: skewX(-20deg);
}

.button-04:hover::after {
    left: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}

.button-05 {
    position: relative;
    overflow: hidden;
    background-color: white;
    padding: var(--padding-main);
    border: var(--border-main) solid rgb(143, 247, 7);
    height: var(--height-main);
    width: var(--width-main);
}

.button-05::after {
    content: '';
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 50%;
    right: 1px;
    background: white;
    transform: skewX(-20deg) translateX(-150%);
    transition: transform 3s ease;
}

.button-05:hover::after {
    content: 'zoommmm';
    width: 100%;
    height: 1px;
    transform: skewX(-20deg) translateX(300%);
}

.button-06 {
    position: relative;
    overflow: hidden;
    background-color: #5010d1;
    color: #ffffff;
    padding: var(--padding-main);
    border: var(--border-main) solid #5010d1;
    height: var(--height-main);
    width: var(--width-main);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button-06::after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    background: transparent;
    border: 2px solid #ffffff;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    transition: width 0.3s ease, height 0.3s ease;
}

.button-06:hover::after {
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}